# Cache crap that Valve autogenerates
*.bin

# Compiled formats
*.vpcf_c
*.vsndevts_c
*.vmat_c
*.vjs_c
*.vxml_c
*.vcss_c
*.vsnd_c

# Stat keys
game/dota_addons/*/scripts/vscripts/statcollection/settings.kv

# Github dump
*.stackdump

panorama_debugger.cfg
game/dota_addons/pmp/scripts/vscripts/ai/logs/*

!game/dota_addons/pmp/skeletonking/materials/models/heroes/skeleton_king/*