.GameInfo
{
    width:100%;
    flow-children: down;
}
 
Label
{
    font-size: 18px;
    color: #999999;
    vertical-align: top;
}
 
#Title
{
    flow-children: right;
}

#TitleIcon
{
    width: 64px;
    height: 64px;
    vertical-align: center;
}

#TitleName
{
    color: #cccccc;
    font-size: 64px;
    margin-left: 16px;
    margin-top: 16px;
    text-transform: uppercase;
    vertical-align: center;
}

#BriefDescription
{
}

#ThroneText,
#CoinsText,
#ItemsText
{
    width: 50%;
}

.Header
{
	font-size: 18px;
    font-weight: bold;
	margin-top: 36px;
	text-transform: uppercase;
}

#ObjectiveHeader
{
	margin-top: 18px;
}

#ThroneRow
{
    margin-top: -40px;
}

#ThroneText
{
    margin-top: 60px;
	text-align: left;
}

#ThroneImage
{
    margin-top: -20px;
    width: 240px;
    height: 280px;
}

#CoinsRow
{
    margin-top: -60px;
}

#CoinsImage
{
    width: 240px;
    height: 256px;
}

#CoinsText
{
    margin-top: 100px;
    margin-left: 20px;
}

#ItemsRow
{
    margin-top: 0px;
}

#ItemsImage
{
    width: 240px;
    height: 192px;
}

#ItemsText
{
    margin-top: 40px;
	text-align: right;
}

#TipsHeader
{
	margin-top: 30px;
}

#TipsRow
{
	flow-children: down;
	margin-right: 92px;
	margin-top: 18px;
}

.TipText
{
	margin-left: 16px;
    margin-top: 0px;
}

.InfoRow
{
    flow-children: right;
    width: 100%;
}


Label .bold,
{
    color: #cccccc;
    font-weight: bold;
}


Label .lumber
{
    color: #008000;
    font-weight: bold;
}

Label .items,
Label .gold,
Label .xp
{
    color: #fea500;
    font-weight: bold;
}
